table, td 
    border: 1px solid black;
    border-collapse: collapse;

th, td 
    padding: 50px;
    text-align: center;

td 
    height: 25px;
    width: 25px;

.game-finished
    pointer-events: none;    