<h1 style="width: 100%; text-align: center" >Welcome to Tic Tac Toe game</h1>

<br>

<table style="width:60%">
  <tr>
    <td id="cell0">{{ cells[0] }}</td>
    <td id="cell1">{{ cells[1] }}</td>
    <td id="cell2">{{ cells[2] }}</td>
  </tr>
  <tr>
    <td id="cell3">{{ cells[3] }}</td>
    <td id="cell4">{{ cells[4] }}</td>
    <td id="cell5">{{ cells[5] }}</td>
  </tr>
  <tr>
    <td id="cell6">{{ cells[6] }}</td>
    <td id="cell7">{{ cells[7] }}</td>
    <td id="cell8">{{ cells[8] }}</td>
  </tr>
</table>